<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-WP</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- FONTAWESOME ICON -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap" rel="stylesheet">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- vueWysiwyg -->
    <script src="assets/js/vueWysiwyg.js"></script>
    <link rel="stylesheet" href="assets/css/vueWysiwyg.css">
    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- SWAL -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- FOOTER -->
    <style>
        a {
            text-decoration: none;
        }
        body {
            font-family: 'Gentium Basic', serif;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #343A40;
            color: white;
            text-align: center;
        }
        .sidebar {
            position: fixed;
            width: auto;
            align-content: flex-start
        }
        li {
            margin-left: 5%;
        }
        li:first-child {
            margin-left: 0;
        }
        .default {cursor: default;}
        .pointer {cursor: pointer;}
    </style>
</head>
<body>
    <div id="app">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="color:white;">
            <!-- Links -->
            <ul class="navbar-nav justify-content-start" style="margin-left: 6%;">
                <li class="nav-item">
                    <a class="nav-link pointer" @click.prevent="changePage('List Article')" id="home">Mini-WP</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link pointer" id="about">ABOUT</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link pointer" id="gallery" @click.prevent="changePage('Gallery List')">GALLERY</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link pointer" id="signout">SignOut</a>
                </li> -->
            </ul>
            <ul class="navbar navbar-expand-sm bg-dark navbar-dark ml-auto" style="color:white; margin-right: 6%; margin-top: 1%; height: 15px">
                <li class="nav-item pointer ml-auto" style="color: #343A40;">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search by title" v-model="search">
                        <button class="btn btn-link pointer" type="submit" style="color: white;"><i class="fas fa-search"></i></button>
                        <a class="nav-link pointer" style="color:#909394" v-show="isLogin" @click.prevent="signOut">SIGNOUT</a>
                        <a class="btn btn-link pointer" data-toggle="modal" data-target="#signinModal" style="color: white;" v-show="!isLogin"><i class="fas fa-user"></i></a>
                    </form>
                </li>
            </ul>
        </nav>
    
        <!-- SIGNIN MODALS -->
        <div class="modal fade" id="signinModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 1%">SignIn</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form @submit.prevent="signIn">
                            <div class="form-group" style="margin-left:1%; margin-right: 1%;">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" v-model="user.emailSignin">
                            </div>
                            <div class="form-group" style="margin-left:1%; margin-right: 1%;">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" v-model="user.passwordSignin">
                                <button class="btn btn-dark" type="submit" style="margin-top: 3%; width: 100%;">SignIn</button>
                            </div>
                        </form>
                        <div>
                            <a data-toggle="modal" data-target="#signupModal" data-dismiss="modal" class="pointer" style="float: right; margin-right: 1%; color: blue">SignUp</a>
                            <a class="default" style="float: right; margin-right: 1%;">Don't have any account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- SIGNUP MODALS -->
        <div class="modal fade" id="signupModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 1%">SignUp</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form @submit.prevent="signUp">
                            <div class="form-group" style="margin-left:1%; margin-right: 1%;">
                                <label for="name">Name:</label>
                                <input type="name" class="form-control" v-model="newUser.nameSignup">
                            </div>
                            <div class="form-group" style="margin-left:1%; margin-right: 1%;">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" v-model="newUser.emailSignup">
                            </div>
                            <div class="form-group" style="margin-left:1%; margin-right: 1%;">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" v-model="newUser.passwordSignup">
                                <button class="btn btn-dark" type="submit" style="margin-top: 3%; width: 100%;">SignUp</button>
                            </div>
                        </form>
                        <div>
                            <a data-toggle="modal" data-target="#signinModal" data-dismiss="modal" class="pointer" style="float: right; margin-right: 1%; color: blue">SignIn</a><a class="default" style="float: right; margin-right: 1%;">Have any account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- MAIN -->
        <div class="container-float" style="background-image: url(https://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/black-and-white-wallpaper-5.jpg); background-size: 100%; background-repeat: no-repeat; height: 500px;">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 card text-dark" style="margin-top: 7%; background-color: rgba(255, 255, 255, 0.9); text-align: center;">
                    <div class="card-body"><h1>Mini-WP</h1></div>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 card text-dark" style="margin-top: 7%; background-color: rgba(255, 255, 255, 1); text-align: center; height: auto; margin-bottom: 10%;">
                    <div class="card-body margin-bottom:30%;">
                        <div class="row">
                            <div class="col-3"></div>
                            <!-- SIDEBAR -->
                            <div class="sidebar col-3" style="height: 45px;" v-if="pageDirection === 'List Article' || pageDirection === 'Add Article' || pageDirection === 'Edit Article' || pageDirection === 'Gallery List' || pageDirection === 'Article'">
                                <button type="button" class="btn btn-dark" style="margin-top: 5%; margin-left: -25%; width: 80%;" @click.prevent="changePage('Add Article')">Add Article</button>
                                <button type="button" class="btn btn-dark" style="margin-top: 5%; margin-left: -25%; width: 80%;" @click.prevent="changePage('List Article')">Article List</button>
                                <button type="button" class="btn btn-dark" style="margin-top: 5%; margin-left: -25%; width: 80%;" @click.prevent="changePage('Gallery List')">Gallery List</button>
                                <!-- <button type="button" class="btn btn-dark" style="margin-top: 5%; width: 90%; margin-right: 5%" @click.prevent="toListPage">Back to top </i></button> -->
                            </div>
                            <!-- ADD ARTICLE -->
                            <div class="col-9 collapse show" style="color: #343A40;" v-if="pageDirection === 'Add Article'">
                                <headers :title="pageDirection" @title-changed="test = $event"></headers>
                                <form @submit.prevent="addArticle">
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="img">Image:</label>
                                        <!-- <input type="text" class="col-10 form-control" v-model="newArticle.img"> -->
                                        <div class="custom-file col-10">
                                            <input type="file" class="custom-file-input" v-on:change="getDataImage" >
                                            <label class="custom-file-label" for="customFile" style="text-align: left;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="title">Title:</label>
                                        <input type="text" class="col-10 form-control" v-model="newArticle.title">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="content">Body:</label>
                                        <wysiwyg class="col-10" style="text-align:left;" name="content" v-model="newArticle.body"></wysiwyg>
                                        <button class="btn btn-dark" type="submit" style="margin-top: 3%; margin-left: 6%; width: 100%;">Add Article</button>
                                    </div>
                                </form>
                            </div>
                            <!-- EDIT ARTICLE -->
                            <div class="col-9 collapse show" style="color: #343A40;" v-if="pageDirection === 'Edit Article'">
                                <headers :title="pageDirection" @title-changed="test = $event"></headers>
                                <form @submit.prevent="submitEdit">
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="img">Image:</label>
                                        <input type="text" class="col-10 form-control" v-model="editArticle.img">
                                        <!-- <div class="custom-file col-10">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile" style="text-align: left;">Choose file</label>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="title">Title:</label>
                                        <input type="text" class="col-10 form-control" v-model="editArticle.title">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2" style="margin-top: 1%" for="content">Body:</label>
                                        <wysiwyg class="col-10" style="text-align:left;" name="content" v-model="editArticle.body"></wysiwyg>
                                        <button class="btn btn-dark" type="submit" style="margin-top: 3%; margin-left: 6%; width: 100%;">Edit Article</button>
                                        <button class="btn btn-danger" type="cancel" style="margin-top: 1%; margin-left: 6%; width: 100%;" @click.prevent="changePage('List Article')">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <!-- ARTICLE -->
                            <div class="col-9 collapse show" style="color: #343A40;" v-if="pageDirection === 'List Article'">                           
                                <headers :title="pageDirection" @title-changed="test = $event"></headers>
                                <card :login="isLogin" :trunc="truncate" :id="userId" v-for="(data, index) in filteredArticle" :article="data" @change-page="changePage" @retrieve-data="editingArticle(data._id) || fullArticle(data._id)"></card>
                                <!-- PAGINATION / BACK TOP-->
                                <ul class="pagination pagination-sm" style="float: right; margin-right: 4%;">
                                    <!-- <li class="page-item"><a class="page-link" href="#" style="background-color: white; color: #343A40;">Previous</a></li> -->
                                    <li class="page-item"><a class="page-link" href="#" style="background-color: #343A40;; color: white;">Back to top   <i class="fas fa-chevron-up"></i></a></li>
                                    <!-- <li class="page-item"><a class="page-link" href="#" style="background-color: white; color: #343A40;">2</a></li> -->
                                    <!-- <li class="page-item"><a class="page-link" href="#" style="background-color: white; color: #343A40;">3</a></li> -->
                                    <!-- <li class="page-item"><a class="page-link" href="#" style="background-color: white; color: #343A40;">Next</a></li> -->
                                <!-- </ul> -->
                            </div>
                            <!-- SOLO ARTICLE -->
                            <div class="col-9 collapse show" style="color: #343A40;" v-if="pageDirection === 'Article'">
                                <card :id="userId" :article="dataArticle" @change-page="changePage"></card>
                            </div>
                            <!-- GALLERY -->
                            <div class="col-9 collapse show" style="color: #343A40;" v-if="pageDirection === 'Gallery List'">
                                <headers :title="pageDirection" @title-changed="test = $event"></headers>
                                <div class="row col-12">
                                    <div class="col-6" v-for="(data, index) in filteredArticle">
                                        <div class="card border-light text-white">
                                            <img class="card-img" :src="data.img" alt="gallery image" style="max-height: 150px; object-fit: cover;">
                                            <div class="card-img-overlay">
                                                <h5 class="card-title pointer" style="text-align: center; margin-top: 31.2%; background-color: rgba(52,58,64, 0.4); border: 0px;">{{ data.title }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <div class="footer-copyright text-center py-3">© 2019 Copyright: 
                <a> Elia Victor</a>
            </div>            
        </div>
    </div>
    <!-- COMPONENTS -->
    <script src="assets/components/headers.js"></script>
    <script src="assets/components/card.js"></script>
    <!-- MAIN.JS -->
    <script src="assets/js/main.js"></script>
</body>
</html>